.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(../../../assets/lol_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}